{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
 
{% block main_content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">We at Sweet Cake specialize in Desserts & Cakes. we believe in "Quality in our Edge", from selecting the ingredients around India to the final exqusite creation that "Bring you smiles for Sure"
                        
            Our cakes & Desserts receive a lot of compliments and are complimented by wide range of exclusive desserts.
            
            Our theme based Creative Cakes, Cake pop , Cup Cakes and Desserts for Parities, make you Party Unique and Inevitable. We spend more time in understanding customers expectation,
            
            So we Perfectly Personalize to the Needs. We also offer a variety of bite sized treats. Everything is made from scratch in house and with locally sourced ingredients when possible.

            Sweet Cake is not a retail bakery. We are by appointment only. This way we can give each of our clients and their order the care and attention they deserve. We love working with our clients to make their dessert dreams come true!
            We have unveiled our ordering service recently. Now you can order Cakes, Pastries and Cookies online from our store. We only deliver online within 2 km radius of our shop. For beyond 2 km, please contact the shop. Please note that in case of Delivery order from online, shipping rates will be charged based on distance of the delivery address from our shop, like, with 1 Km radius we don't charge anything for delivery of products. Thanks for visiting our store, have a great day ahead!
            The best part about cake is that there can be a large variety of flavors and one can experiment with it quite often. Any flourishing cake shop would vouch by this criteria because variety keeps people interested. In our online cake shop, you would discover a plethora of cake flavors and we take a bit of pride in that. You would find a cake flavor for all your family members, friends, and relatives having varied preferences.
            While quality is our hallmark, service is our pride. When you step into our outlets you will surely observe how we’ve painstakingly put processes in place to make your visit worthwhile and comfortable. And our people have been trained to understand your whims as well as your needs. However, should you have a grievance you can rest assured that it would be attended to politely and immediately.

            To take it a step further, our quality control team follows impeccable specs. Our vendors have been selected after meticulous screening. Every batch of our groceries are scrupulously checked and immaculately tested when they arrive at our premises. These are then carefully stored to avoid any kind of contamination. The preparation process is extremely streamlined. And the storage of the prepared food in our displays are extensively monitored.
            
            Which is why, when you consume any item on our menu, your satisfied smile always becomes an added bonus to us.</p>
    </div>
      <br><br>
    <h2 claa="text-center">Hygiene</h2>  
    <br>
    <div class="row container">

        <p class="fs-4 text-center">Since we have a wide variety of confectionery products, hygiene takes the highest priority for our entire workforce. Our food handlers have been trained to follow sound practices to ensure that anything that we serve is safe for consumption. To ensure that, we not only stipulate that they wear head caps and gloves, but we also conduct periodic audits on how they maintain their personal hygiene from trimming nails to self grooming. So when your loaf of bread gets sliced, it will be done by hygienic hands.</p>

    </div>

</div>



{% endblock main_content %}