{% extends 'base.html' %}
{% load static %}
{% block title %}Login {% endblock title %}

{% block main_content %}
<div class="container my-5">
<div class="row">
 <h3> Welcome <span class="text-capitalize">{{request.user}}</span></h3>
  <div class="col-sm-2 border-end">
    <ul class="list-unstyled">
     <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary">Orders</a></li>
    </ul>
    </div>
      <div class="col-sm-9  offset-sm-1">
        {% for item in cart %}
        <div class="row">
            <div class="col-sm-2">
                <img src="{{item.product.product_image.url}}" class="img-fluid" height="100" width="100"/>
            </div>
            <div class="col-sm-7">
                <p>Product : {{item.product.title}}</p>
                <p>Quantity: {{item.quantity}}</p>
                <p>Price: {{item.product.selling_Price}}</p>
            </div>
            
        </div>
        {% endfor %}
        
      </div>
    </div>
   
</div>
{% endblock main_content %}